image:
  repository: quasarcelestio/task-1.0
  tag: 557de6781ff56670779333471d2857f1fb50a934
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001