image:
  repository: quasarcelestio/task-1.0
  tag: 06396248456aede6af7611cee9ff7b3a4dc30a6a
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001