image:
  repository: quasarcelestio/task-1.0
  tag: 649ccbc20701f3fe7dc46d0b2fa1dd250b4c7ae9
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001