image:
  repository: quasarcelestio/task-1.0
  tag: 7d7003ce6904e32ec92492df8bfad8f1da16f26d
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001