image:
  repository: quasarcelestio/task-1.0
  tag: fda4d68a92c050cc7514972ed241cad40b1067e0
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001