image:
  repository: quasarcelestio/task-1.0
  tag: 048dde173d26c1abfa9dd16a7708b09d6c3e8ac3
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001