image:
  repository: quasarcelestio/task-1.0
  tag: cba90e196a55a8e3f21f50368d6fe5b4ec05d9f9
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001