image:
  repository: quasarcelestio/task-1.0
  tag: e62e3bac25ae51ef9c43c9b7f35a33603e45889d
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001