image:
  repository: quasarcelestio/task-1.0
  tag: c574f8c72b2002ecf7043027d8ef6251251c38be
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001