image:
  repository: quasarcelestio/task-1.0
  tag: 01133c02653008a6f8befbe1a3ebe6183f4bd2ab
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001