image:
  repository: quasarcelestio/task-1.0
  tag: 13b3507ac66a819b40f3d6dcf61011020f548eb3
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001