image:
  repository: quasarcelestio/task-1.0
  tag: f62ba9b9e2f1d32f23985c762950fcb66b268837
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001