image:
  repository: quasarcelestio/task-1.0
  tag: 558baf4373ad4d571c24d41c2802dded27412a7c
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001