image:
  repository: quasarcelestio/task-1.0
  tag: 50ae434a77267f230733a37ca46b010f7dfd1a58
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001