image:
  repository: quasarcelestio/task-1.0
  tag: bc4e7cbd1d3047fab89c2dc310b0d4ef76d35a76
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001