image:
  repository: quasarcelestio/task-1.0
  tag: 4064fd6131efe019dc1d7ab0b413403d2f11806f
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001