image:
  repository: quasarcelestio/task-1.0
  tag: 24e69390e4238d7b9761067f2b9879be07929a60
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001