image:
  repository: quasarcelestio/task-1.0
  tag: bf8a7ea4b1a3c3cf60aecb4a6e4223f6a3d3f436
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 9000
  targetPort: 9000
  nodePort: 30001